.navigation {

    //Primero creamos todos los selectores en orden checkbox, button and background

    &__checkbox {
        display: none;

    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
        
    }

    //el background esta por detras del boton oculto
    &__background {
        height: 6rem;
        width:  6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
        

        //para activar la animacion solo queremos animar la transformacion
        transition: transform .8s cubic-bezier(0.85, 0, 0.15, 1);

        //se va a escalar ocupando todo el viewport
        //transform: scale(80); al principio lo hemos puesto aqui por motivos de diseno para poder hacer el menu
    }

    //Luego creamos el en orden el nav, list, item y link

    &__nav {
        height: 100vh;

        // el width ocuparia automaticamente el 100% del viewport pero lo expecificamos por ahora por motivos de diseno
        //width: 100%;

        position: fixed;
        //para que empeieze en la esquina superior derecha
        top: 0;
        left: 0;
        z-index: 1500;
        

        //para ocultar el menu
        opacity: 0;
        width: 0;

        //para activar la animacion solo queremos animar la opacidad y el widht
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;

        //para solucionar que eltexto aparezca desde la esquina superior
        width: 100%;
    }

    &__item {
        margin: 1.5rem;

    }

    &__link {

        //Esto se aplica al estado normal de nuestro menu
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            
            background-image: linear-gradient(120deg, transparent 0%, transparent  50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        //esto es el estado hover y activo
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    //FUNCTIONALITY

    //Aqui lo que hacemos es decir que cuando el checkbox este cheked con el general sibling seleccione al hermano background
    &__checkbox:checked ~ &__background {
        transform: scale(80)

    }

    //Aqui lo que hacemos es decir que cuando el checkbox este cheked con el general sibling seleccione al hermano nav para activar su visualizacion
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;

    }


    //ICON
    &__icon {

        //ponemos position relative en el padre que es el __icon
        position: relative;
        margin-top: 3.4rem;

        //hay varios estilos que van a compartir las tres partes el icono en si &, el pseudolemento &::before y el pseudolemento &::&::after
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        //para que estos elementos aparezcan en la pagina tienen que tener la propiedad content definida
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;

        }

        &::before {top: -.8rem;}
        &::after {top: .8rem;}

    }

    //Esta es la animacion de las lineas al seleccionarlo
    &__button:hover  &__icon::before {
        top: -1rem;

    }

    &__button:hover  &__icon::after {
        top: 1rem;

    }

    //hacer desaparecer la liena del medio lo acemos con el adjacent sibling ya que si vemos el codigo cuando seleccionamos el checkbox se selecciona su hermano button y finalmente seleccionamos el hijo de button que es el icon
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;

    }

    // rotacion de before y after
    &__checkbox:checked + &__button &__icon::before { 
        top: 0;    
        transform: rotate(135deg);

    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);

        

    }
}