.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

// .section-features > * Selecciona a los hijos directos, en este caso el div class row, si quitamos el > seleccionaria todo lo que contiene

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    // hemos quitado el backround- color para que el color de fondo sea el video que hemos incrustado
    //background-color: $color-grey-light-1;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {

    // tecnica nueva para conseguir degradados de un salto para poder crear este tipo de efecto

    //EXPLICACION: en este caso tenemos un degradado entre 3 colores blanco-balnco-transparente lo primero que definimos es el angulo del degradado 105der en este caso, luego el primer color y la opacidad de este y fuera de los parentesis su posicion aqui estamos diciendo que de 0% a 50% es blanco y en adelante transparente, es un degradado de dos puntos, no hay degradado, finalmente en el fondo tenemos la imagen

    background-image: linear-gradient(105deg,
                            rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 50%,
                            transparent 50%), 
                        url(../img/nat-10.jpg);

    // background-size: 100% es lo mismo que usar cover ambos estiran la imagen para que ocupe todo el contenedor
    background-size: 100%;

    //podemos crear una variable de border radius y aplicarla en todos los sitios donde hemos usado el mismo valor 3px
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    
    // Fue usado por TESTING POURPOSES height: 50rem;

    @include respond (tab-land) {
        background-image: linear-gradient(105deg,
                            rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 65%,
                            transparent 65%), 
                        url(../img/nat-10.jpg);
        background-size: cover;

    }

    @include respond (tab-port) {
        background-image: linear-gradient(to right,
                            rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 100%), 
                        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond (tab-land) {
            width: 65%;
        }

        @include respond (tab-port) {
            width: 100%;
        }
    }

}